<div class="brand">
    <div class="branding">
        <a style="display: inline-block;" href="http://niser.ac.in"><div class="niser-logo"></div></a>
        <a style="display: inline-block;" href=""><div class="logo"></div></a>
        <div class="lettering">
            IBNL <br>
            NISER
        </div>
    </div>
</div>
<div class="nav">
    <div class="nav-item"><a class= "hover-underline-animation" href="./index.html">Home</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="./people.html">People</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="./research.html">Research</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="./publications.html">Publications</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="./contact.html">Contact</a></div>
</div>