<div class="brand">
    <div class="branding">
        <a style="display: inline-block;" href=""><div class="logo"></div></a>
        <div class="lettering">
            IBNL <br>
            <a href="http://niser.ac.in">NISER</a>
        </div>
    </div>
</div>
<div class="nav">
    <div class="nav-item"><a class= "hover-underline-animation" href="{{ site.url }}/">Home</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="{{ site.url }}/people">People</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="{{ site.url }}/research">Research</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="{{ site.url }}/publications">Publications</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="{{ site.url }}/blog">Blog</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="{{ site.url }}/personal">Personal</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="{{ site.url }}/contact">Contact</a></div>
</div>