<div class="brand">
    <div class="branding">ION BEAM AND NANOMATERIALS LABORATORY</div>
</div>
<div class="nav">
    <div class="nav-item"><a class= "hover-underline-animation" href="/#">Home</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="./people.html">People</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="./research.html">Research</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="./publications.html">Publications</a></div>
    <div class="nav-item"><a class= "hover-underline-animation" href="./contact.html">Contact</a></div>
</div>