<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="{{ site.url }}/index.html">Home</a></li>
            <li><a href="{{ site.url }}/people.html">People</a></li>
            <li><a href="{{ site.url }}/research.html">Research</a></li>
            <li><a href="{{ site.url }}/publications.html">Publications</a></li>
            <li><a href="{{ site.url }}/blog.html">Blog</a></li>
            <li><a href="{{ site.url }}/personal.html">Personal</a></li>
            <li><a href="{{ site.url }}/contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
</div>