---
---
/* 
Author: Spandan Anupam, Jyotirmaya Shivottam
Year: 2021
GitHub: https://github.com/surelynottrue
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;500;600&display=swap');

:root {
    /* font and color styling */
    font-family: "Fira Sans";
    font-size: medium;
    --color-accent: #E63946;
    --color-darker: #1B2021;
    --color-dark: #293241;
    --color-light: #ced4da;

    /* others */
    --menu-speed: 0.75s;
    --contact-width: 30vw;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    max-width: 100%;
    display: grid;
    grid-template-areas:
        "top top" 
        "main side"
        "foot foot";
    grid-template-columns: 100vw 1200px;
    grid-template-rows: auto 1fr auto;
}

a {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;

    &:hover {
        color: var(--color-accent);
    }
}

.brand {
    display: flex;
    grid-area: top;
    height: 120px;
    width: 100%;
    font-size: larger;
    align-items: center;
    margin-top: 10px;
}

.branding {
    width: 100%;
    text-align: center;
}

.logo {
    display: inline-block;
    background: url("/assets/images/logo.svg");
    width: 90px;
    height: 90px;
    background-size: contain;
    vertical-align: middle;
}

.lettering {
    display: inline-block;
    text-align: left;
    width: 100px;
    font-size: 50px;
    margin-left: 10px;
    vertical-align: middle;
    line-height: 50px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 500;

    & a {
        text-decoration: none;
        color: var(--color-accent);

        &:hover {
            border-bottom: 3px dotted;
        }
    }
}

.screen {
    min-width: 80vw;
    max-width: 70%;
    min-height: calc(100vh - 75px);
    margin: 0 auto;
    background-color: rgba(41, 50, 65, 0.0);
}

.nav {
    display: flex;
    grid-area: top;
    height: 40px;
    margin: 0 auto;
    padding-bottom: 7px;
    place-items: center;
    justify-content: center;
}

.nav-item {
    display: inline-block;
    padding-inline: 2vw;
    text-align: center;
    color: var(--color-light);
}

.gallery {
    width: 100%;
    height: 500px;

    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* The Carousel */
.partialViewSlider-outerwrapper{
    position: relative;
    width: 100%;

    &.partialViewSlider-outsideControls{
        padding: 0 6%;
    }

    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        transition-property: transform;
        transition-duration: 0ms;
        transition-timing-function: ease-out;

        & > li {
            display: inline-block;
            position: relative;
            font-size: 1rem;
            transition-property: all;
            transition-duration: 0ms;
            transition-timing-function: ease-out;
        }
    }
}

.partialViewSlider-wrapper{
    overflow: hidden;
    font-size: 0;
    position: relative;

    & > ul > li > img {
        width: 100%;
        height: 500px;
        display: block;
        object-fit: cover;
    }

    &.partialViewSlider-perspective ul > li {
        width: 100%;

        &.active {
            width: 100%;
        }
    }
}

.partialViewSlider-nav{
    position: absolute;
    top: 50%;
    color: #FFF;
    font-size: 3rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.partialViewSlider-prev{
    left: 3%;
}

.partialViewSlider-next{
    right: 3%;
}

.partialViewSlider-outsideControls .partialViewSlider-nav,
.partialViewSlider-neighborControls .partialViewSlider-nav{
    color: #CCC;
}
.partialViewSlider-outsideControls .partialViewSlider-prev{
    left: 1%;
}
.partialViewSlider-outsideControls .partialViewSlider-next{
    right: 1%;
}
.partialViewSlider-neighborControls .partialViewSlider-prev{
    left: -5%;
}
.partialViewSlider-neighborControls .partialViewSlider-next{
    right: -5%;
}

.partialViewSlider-dots {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);

    & li a {
        position: relative;
        display: inline-block;
        width: 7px;
        height: 7px;
        margin: 0 5px;

        &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            border: 1px solid #FFF;
            border-radius: 50%;
            transition: all 0.25s ease-out;
        }
    }

    & li.active a:before{
        background: #FFF;
    }
}


.front-text {
    grid-area: main;
    float: left;
    width: 69%;
    min-height: 800px;
    text-align: justify;
    animation: slideup .5s ease;
}

#text {
    padding: 30px;
}

.news {
    grid-area: side;
    display: flex;
    float: right;
    width: 30%;
    height: 20%;
    margin-top: 30px;
    justify-content: center;
    animation: slideup .5s ease;
}

.scroll-up {
    height: 90%;
    width: 80%;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    text-align: justify;

    & p {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        
        /* Starting position */
        -moz-transform:translateY(100%);
        -webkit-transform:translateY(100%);	
        transform:translateY(100%);
        /* Apply animation to this element */	
        -moz-animation: scroll-up 5s linear infinite;
        -webkit-animation: scroll-up 5s linear infinite;
        animation: scroll-up 5s linear infinite;
    }
}

.post-container {
    margin: 0;
    padding: 0;
    width: 100%;

    & a {
        color: var(--color-darker);

        &:hover {
            color: var(--color-darker);
        }
    }
}

.blog-card {
    max-height: 300px;
    background-color: #4e4d5318;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    padding-top: 10px;
    transition: transform 0.5s ease;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    animation: slideup .5s ease;

    &:hover {
        transform: scale(1.01, 1.01);
    }
}

.paper-preview {
    grid-area: side;
    width: 30%;
    float: right;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    animation: slideup .5s ease;

    & > div > ul {
        display: none;
    }
    
    & > div > a > i {
        display: none;
    }
}

#partial-view-paper > li {
    margin: 0 auto;
    
    & > img {
        width: 70%;
        min-width: 200px;
        height: calc(70% * 1.4142);
        object-fit: cover;
        margin: 0 auto;
    }
}

.address {
    display: inline-grid;
    padding-top: 70px;
    max-height: 400px;
    margin-left: calc((100vw - 600px - var(--contact-width))/2);
    animation: slideup .5s ease;

    & > h4 {
        margin: 0;
    }
}

.map {
    display: inline-grid;
    float: right;
    height: 400px;
    margin-right: calc((100vw - 600px - var(--contact-width))/2);
    place-items: center;
    justify-content: right;
    animation: slideup .5s ease;
}

.res-links {
    padding-right: 50px;
    padding-top: 50px;
    text-align: right;
}

.res-link {
    display: inline-grid;
    margin: 0;
    width: 100px;
    padding-inline: 10px;
}

.publications {
    display: grid;
    padding-top: 10px;
    text-align: justify;
    animation: slideup .5s ease;
}

.year-navigator {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
}

.year {
    display: inline-grid;
    width: 5vw;
    min-width: 70px;
    height: 100%;
    text-align: center;

    &:hover {
        background-color: #f0f0f0;
    }

    & > button {
        width: 100%;
        height: 100%;
        border: none;
        font: inherit;
        background: transparent;
        font-size: large;
        font-weight: 500;
    }
}

.tabs {
    display:none;
}

.contact {
    width: 100%;
}

.container {
    padding-top: 10px;
    padding-bottom: 50px;
    animation: slideup .5s ease;
}

.big-card {
    display: flex;
    width: 100%;
    padding-bottom: 40px;

    & > .card > h3 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}

.picture {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: left;
    padding-bottom: 10px;
}

.card {
    display: block;
    width: calc(100% - 240px);
    margin-left: 20px;
    float: right;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--color-accent);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.foot {
    display: flex;
    grid-area: foot;
    width: calc((var(--vw, 1vw) * 100));
    height: 75px;
    margin-top: 20px;
    background-color: var(--color-darker);
    place-items: center;
    text-align: center;
}

.foot-text {
    width:50%;
    margin: auto;
    color: var(--color-light);
    line-height: 10px;

    & a {
        color: var(--color-light);

        &:hover {
            color: var(--color-accent);
            text-decoration: none;
            border-bottom: 2px dotted;
        }
    }
}

.main-container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

.btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;

    &:hover {
        opacity: 0.7;
    }
}

/* https://codepen.io/bradtraversy/pen/vMGBjQ */
/* Hamburger menu */
.menu-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    & .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }
    
    & .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 20px;
        height: 40px;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        /* Hamburger Line */
        & > div {
            position: relative;
            flex: none;
            width: 100%;
            height: 3px;
            background: var(--color-darker);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.4s ease;
        }
        
        /* Hamburger Lines - Top & Bottom */
        & > div::before,
        & > div::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: -10px;
            width: 100%;
            height: 3px;
            background: inherit;
        }
        
        /* Moves Line Down */
        & > div::after {
            top: 10px;
        }
    }
    
    /* Toggler Animation */
    & .toggler:checked + .hamburger > div {
        transform: rotate(135deg);

        /* Turns Lines Into X */
        &:before,
        &:after {
            top: 0;
            transform: rotate(90deg);
        }
    }
    
    /* Rotate On Hover When Checked */
    & .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
    
    /* Show Menu */
    & .toggler:checked ~ .menu {
        visibility: visible;

        & > div {
            transform: scale(1);
            transition-duration: var(--menu-speed);
        }
        
        & > div > div {
            opacity: 1;
            transition:  opacity 0.4s ease 0.4s;
        }
    }
    
    & .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
            background: var(--color-accent);
            border-radius: 50%;
            width: 300vw;
            height: 300vw;
            display: flex;
            flex: none;
            align-items: center;
            justify-content: center;
            transform: scale(0);
            transition: all 0.4s ease;

            & > div {
                text-align: center;
                max-width: 90vw;
                max-height: 100vh;
                opacity: 0;
                transition: opacity 0.4s ease;

                & > ul > li {
                    list-style: none;
                    color: var(--color-light);
                    font-size: 1.5rem;
                    padding: 1rem;

                    & a {
                        color: inherit;
                        text-decoration: none;
                        transition: color 0.4s ease;
                    }
                }
            }
        }
    }
}

/* Move it (define the animation) */
@-moz-keyframes scroll-up {
    0%   { -moz-transform: translateY(100%); }
    100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
    0%   { -webkit-transform: translateY(100%); }
    100% { -webkit-transform: translateY(-100%); }
}
@keyframes scroll-up {
    0%   { 
    -moz-transform: translateY(100%); /* Browser bug fix */
    -webkit-transform: translateY(100%); /* Browser bug fix */
    transform: translateY(100%); 		
    }
    100% { 
    -moz-transform: translateY(-100%); /* Browser bug fix */
    -webkit-transform: translateY(-100%); /* Browser bug fix */
    transform: translateY(-100%);
 }
}

/* Animations */
@keyframes slideup {
    from {
        opacity: 0;
        position: relative;
        top: 5rem;
    }

    to {
        opacity: 1;
        position: relative;
        top: 0;
    }
}

@media (max-width: 1024px) {
    .contact {
        margin: 0 auto;
    }

    .address {
        display: grid;
        text-align: center;
        margin: 0 auto;
    }

    .map {
        display: grid;
        justify-content: center;
        margin: 0 auto;
        float: none;
    }

}

@media (max-width: 834px) {
    .front-text {
        grid-area: top;
        width: 100%;
        margin-top: 200px;
    }

    .news {
        grid-area: main;
        float: left;
        width: 50%;
    }

    .foot {
        margin-top: 60px;
    }

    .paper-preview  {
        height: 300px;
        width: 50%;

        & > .slider {
            height: 300px;
            width: calc(300px/1.4142);

            & > ul > li > img {
                height: 300px;
                width: calc(300px/1.4142);
                padding-top: 0;
            }
        }    
    }

    .scroll-up {
        height: 50%;
    }

    .gallery {
        height: 300px;

        & > img {
            height: 300px;
        }

        & > .slider > ul > li > img {
            height: 300px;
        }
    }

    .year-navigator {
        margin-bottom: 20px;
    }
}

@media (max-width: 616px) {
    .body {
        height: 100vh;
        grid-template-areas: "main";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .brand {
        grid-area: main;
    }

    .nav {
        grid-area: main;
    }

    .gallery {
        grid-area: main;
    }

    .front-text {
        grid-area: main;
        margin-bottom: 350px;
        margin-top: 0;
    }

    .foot {
        grid-area: main;
    }

    .news {
        display: flex;
        grid-area: main;
        width: 100%;
    }

    .paper-preview {
        display: none;
    }

    .res-links {
        display: flex;
        justify-content: center;
    }

    .container > h2 {
        text-align: center;
    }

    .card {
        display: grid;
        width: 100%;
        margin-left: unset;
        float: unset;
        text-align: center-justify;
    }

    .big-card {
        display: grid;
        place-items: center;
        margin-bottom: 35px;
    }

    .menu-wrap {
        display: unset;

        & .menu > div > div > ul {
            padding-inline: 0;
        }
    }
    
    .nav {
        display: none;
    }

    .brand {
        height: calc(60px + 1rem);
    }

    .scroll-up {
        margin-top: 200px;
    }
    
    .logo {
        width: 50px;
        height: 50px;
    }
    
    .lettering {
        width: 60px;
        font-size: 30px;
        line-height: 30px;
        font-weight: 500;
        margin-left: 0;
    }
}
