<!-- 
Author: Spandan Anupam, Jyotirmaya Shivottam
Year: 2021
GitHub: https://github.com/surelynottrue
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | IBNL</title>
        <link rel="stylesheet" href="assets/styles/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="assets/images/favicon.ico">  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="assets/scripts/main.js"></script>
    </head>
    <body>
        {% include hamburger.html %}
        <div class="screen">
            {% include brandnav.html %}
            <div class="post-container">
            {% for post in site.posts %}
                <a style="display: block; font-weight: 400;" href="{{ post.url }}">
                    <div class="blog-card">
                        <h2>{{ post.title }}</h2>
                        <h5 style="display: inline; font-weight: 400; opacity: 70%;"><b>Published:  </b> {{ post.date | date_to_string}}&nbsp;&nbsp;<b>Author: </b> {{ post.author }}</h5> <br><br>
                        {{ post.summary }}
                    </div>
                </a>
            {% endfor %}
            </div>
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>