<!-- 
Author: Spandan Anupam, Jyotirmaya Shivottam
Year: 2021
GitHub: https://github.com/surelynottrue
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | {{ site.title }}</title>
        <link rel="stylesheet" href="assets/styles/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="assets/images/favicon.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="assets/scripts/main.js"></script>
    </head>
    <body>
        {% include hamburger.html %}
        <div class="screen">
            {% include brandnav.html %}
            <div class="res-links">
                <div class="res-link"><a href="https://scholar.google.co.in/citations?user=G2N-2lQAAAAJ">Scholar</a></div>
                <div class="res-link"><a href="https://www.researchgate.net/profile/Pratap-Sahoo">ResearchGate</a></div>
            </div>
            <div class="year-navigator">
                {% for item in site.data.pubs %}
                    <div class="year">
                        <button id="btn_{{ item.year }}" type="button" onclick="show_pubs(this.id)">{{ item.year }}</button>
                    </div>
                {% endfor %}
            </div>
            <div class=publications>
                {% for item in site.data.pubs %}
                    <div id="{{ item.year }}" class="tabs">
                        <h2>{{ item.year }}</h2>
                        {% for publication in item.pubs %}
                            {{ publication | markdownify }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include footer.html %}   
    </body>
</html>