<!-- 
Author: Spandan Anupam, Jyotirmaya Shivottam
Year: 2021
GitHub: https://github.com/surelynottrue
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} | IBNL</title>
        <link rel="stylesheet" href="assets/styles/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="shortcut icon" href="assets/images/favicon.ico" >
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="assets/scripts/main.js"></script>
    </head>
    <body>
        {% include hamburger.html %}
        <div class="screen">
            {% include brandnav.html %}
            <div class="container">
                {% for area in site.data.research %}
                <h2>{{ area.topic }}</h2>
                <div class="big-card">
                    <div class="picture">
                        <img src="{{ area.image }}">
                    </div>
                    <div class="card">
                        {{ area.summary }}
                        <br><br>
                        Reference: <a href="{{ area.reference_link }}">{{ area.reference_name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% include footer.html %}
    </body>
</html>